@using Verst.Models

@{
    Layout = null;
}

<script type="text/javascript">
    var kprSwitch = false, kuchSwitch = false;
    function selectAllPrib() {
        $("input[name=kpr]").each(function () {
            if (kprSwitch == false) {this.checked = true;} 
            else {this.checked = false;}

        });
        if (kprSwitch == false) {kprSwitch = true;}
        else { kprSwitch = false; }
    };
    function selectAllUch() {
        $("input[name=kuch]").each(function () {
            if (kuchSwitch == false) { this.checked = true; } 
            else {this.checked = false;}

        });
        if (kuchSwitch == false) { kuchSwitch = true; }
        else { kuchSwitch = false; }
    };
    
    function GetBrak() {
     
        $('#myModal').modal({
            keyboard: true
        });
    }
</script>

@using (Ajax.BeginForm("GetParetoDiag", "Statisticks", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "AreaNzpDiagramm", OnSuccess = "GetBrak()" }, new { style = "width: 370px;float:left;" }))
{

        <div style="float: left; text-align: center; width: 180px;">
           
            <div  style="margin-top: 5px;height: 300px;overflow: auto">
                <table class="table table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th style="text-align: center">Код</th>
                            <th style="text-align: center">Прибор</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in (IEnumerable<PribList>)ViewBag.PribList)
                        {
                            <tr>
                                <td>@item.Kpr</td>
                                <td><input type="checkbox" name="kpr" value="@item.Kpr"/> @item.Napr</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
             <input type="button" class="btn" value="Выбрать все приборы" onclick="selectAllPrib()"/>
        </div>

    <div style="padding-left: 190px; width: 180px; text-align: center;">
       
        <div style="margin-top: 5px;height: 300px;overflow: auto">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th style="text-align: center">Участок</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in (IEnumerable<UchList>)ViewBag.UchList)
                    {
                        <tr>
                            <td><input type="checkbox" name="kuch" value="@item.Kuch"/> @item.Nauch</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <input type="button" class="btn" value="Выбрать все участки" onclick="selectAllUch()"/>
    </div>
     <div class="row-fluid" style="text-align: center; margin-top: 5px;">
        <input type="submit" value="Построить диаграмму" class="btn btn-primary"/>
    </div>
}


<div class="modal1" id="myModal" style="display: none;text-align: center" >
  <div class="modal-body">
      <div id="AreaNzpDiagramm"></div>
  </div>
  <div class="modal-footer">
    <button class="close" data-dismiss="modal">Закрыть</button>
  </div>
</div>