@using MvcApplication.Models
@using Crystal.Models
@model IEnumerable<Crystal.DomainModel.CyclesDefectsInfo>

@{
    ViewBag.Title = "Просмотр брака";
    Layout = Request.IsAjaxRequest() != true ? "~/Views/Shared/_Layout.cshtml" : null;
    //string prodN = FoxRepo.GetProductionNumber();
    string userName = HttpContext.Current.User.Identity.Name;
}

<h3 class="font" >Просмотр брака по прибору: @Model.First().Napr</h3>
<table class="table table-bordered table-condensed center">
    <thead>
        <tr>
            <th>Номер партии</th>
            <th>Наименование операции</th>
            <th>Кол-во пластин</th>
            <th>Дата брака</th>
            <th>Ф.И.О.</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(item.Nprt, "PartInfo", "Facility", new { nprt = item.Nprt }, new { target = "_blank"})</td>
                <td>@item.Nop</td>
                <td>@item.Kpls</td>
                <td>@Html.DisplayFor(m=> item.DefectDate)</td>
                <td>@item.Fio</td>
            </tr>
        }
    </tbody>
</table>