<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @*<link rel="Stylesheet" href="~/Content/ng-grid.css" type="text/css" />*@
    
  
  
   
    
 
    
</head>
<body ng-controller="CtrlController">
            @RenderBody()                 
</body>
</html>
