<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqplot")

</head>
    <body id="border">
        <h2>Учетные цены на драгоценные металлы в виде банковских слитков, устанавливаемые Национальным банком</h2>
        @RenderBody()  
 
   
    </body>
</html>
