@using MvcApplication.Models
@using Verst.Models
@model IEnumerable<Verst.Models.MonthReportDataBrak>

@{
    Layout = null;
    string nplsList = null;
    string prodN = FoxRepo.GetProductionNumber();
    string userName = HttpContext.Current.User.Identity.Name;
}
<script src="@Url.Content("~/Scripts/Tooltip.js")" type="text/javascript"></script>
<div style="height: 41px" >
    <table class="table table-condensed table-bordered " style="width: 441px;table-layout:fixed">
        <thead>
            <tr>
                <th style="width: 19px" ></th>
                <th style="width: 69px">Партия</th>
                <th style="width: 39px">Брак</th>
                <th style="width: 99px">Наименование брака</th>
                <th style="width: 69px">Номер пластины</th>
                <th style="width: 69px">Установка</th>
                <th style="width: 69px">Дата</th>
            </tr>
        </thead>
    </table>   
</div>
<div class="scrollable" style="height: 480px">
    <table class="table table-condensed table-bordered" style="width: 441px;table-layout:fixed">
         
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width: 19px">@Html.TrackThisBatch(item.Nprt,prodN,userName)</td>
                    <td style="width: 69px">@Html.ActionLink(item.Nprt,"PartInfo","Facility", new { NPRT = item.Nprt}, null)</td> @*Сдесь условия выборки*@
                    <td style="width: 39px">@item.Nzp</td>
                    <td style="width: 99px">@item.Naprb</td>
                    @foreach (var pl in item.Npls)
                    {
                        nplsList += pl+ "</br>";
                    }
                    <td style="width: 69px"><div>@Html.Raw(nplsList)</div></td>
                    <td style="width: 69px">@item.Ust</td>
                    <td style="width: 69px">@item.Date</td>
                </tr>
                nplsList = null;
            }
        </tbody>
    </table> 
         @Html.TrackThisBatchScript(prodN,userName)
</div>
<div style="width:540px;margin-left:-70px">Постановка/снятие партии на кантроль по клику на символ <img src='../../Content/images/star_active.png'></img>/<img src='../../Content/images/star_passive.png'></div>
